body {
    margin: 0;
    background: rgb(175, 195, 255);
    background: radial-gradient(circle, rgb(214, 224, 255) 0%, rgba(36,128,221,1) 100%);
}

h4 {
    color: #08318c;
    margin: 5px;
}

a {
    text-decoration: none;
    color: #949494;
}

.userBlock {
    border-radius: 5px;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    margin: 10px;
    min-width: 220px;
    border: 3px rgba(34, 87, 186, 0.11) solid;
    background-color: rgba(255, 255, 255, 0.49);
    box-shadow: #eeeeee 5px 5px 10px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn {
    color: #646464;
    cursor: pointer;
    border-color: #87afff;
    border-radius: 25px 5px 25px 5px;
    padding: 9px;
    background-color: rgba(255, 255, 255, 0.29);
}

.btn:hover {
    color: #002257;
    background-color: rgba(185, 213, 241, 0.24);
    border-color: rgb(190, 215, 255);
}
